{% extends 'base.html.twig' %}

{% block title %}Licorne world - Mon compte{% endblock %}

{% block content %}

<h1>Mon compte</h1>

Bienvenue {{ app.user.firstname }} sur ton compte. C'est ici que tu pourras accéder à toutes tes informations et ainsi modifier ton mot de passe.
<br>
<a href="{{ path('app_account_password') }}">Modifier mon mot de passe</a>
{% endblock %}
